extends layout

block content
  h1(class="title") Landon's Blog 
  hr

  div(class="button_container")
    form(method="POST" action="/delete")
      button(class= "delete_post_button" type="submit") Delete Recent Post
    button(class= "delete_post_button" type="submit") Create New Post

  div(class="blog_container") 
    each item in data 
      div(class="blog_post")  
        h2(class="blog_post_title") #{item.blog_title}
        hr
        p(class="blog_post_txt") #{item.blog_txt} 
      br
  br

  form(method="POST" action="/add")
    p Title
    input(type="txt" name="blog_title" id="blog_title")
    p Body
    input(type="txt" name="blog_txt" id="blog_txt")
    button(type="submit")
      p Submit 
